/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@use "./components/checkout-card-component/checkout-card-component.scss";
@use "./components/button/button.scss";
@use "./components/order-item/order-item.scss";
@use "./components/price/price.scss";

#home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 530px) {
    margin: 2rem 0;
  }
}
